:root {
  --dark-grey: #0c0c0c;
  --vivid-blue: #2563eb;
  --orange: #f97316;
  --white: #ffffff;
  --blueBtnsHover: #3f4e6dff;
  --orangeBtnsHover: #6d4f3aff;
  --font-heading: "Arsenica", serif;
  --font-body: "Poppins", sans-serif;
}
